<div id="page">
  <nav class="navbar navbar-expand-lg navbar-warning bg-warning">
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center">
      <img id="logo" src="https://static.openfoodfacts.org/images/logos/off-logo-horizontal-light.svg" alt="Open Food Facts logo">

      <ul class="navbar-nav mx-auto">
        <!-- Onglet "About" avec un menu déroulant -->
        <li class="nav-item">
          <a class="nav-link" href="src/app/About">About</a>
        </li>
        <!-- Onglet "Products" avec un menu déroulant -->
        <li class="nav-item">
          <a class="nav-link" href="src/app/Product">Products</a>
        </li>

        <!-- Onglet "Discover" -->
        <li class="nav-item">
          <a class="nav-link" href="src/app/Discover">Discover</a>
        </li>

        <!-- Onglet "Contribute" -->
        <li class="nav-item">
          <a class="nav-link" href="src/app/Contribute">Contribute</a>
        </li>

        <!-- Onglet "Producers" -->
        <li class="nav-item">
          <a class="nav-link" href="src/app/Producers">Producers</a>
        </li>
      </ul>
    </div>
    <div class="ml-auto">
      <a data-mdb-ripple-init class="btn btn-white px-3" href="https://github.com/openfoodfacts" role="button">
        <div class="d-flex align-items-center">
          <i class="fab fa-github mr-2"></i> <!-- Icône existante -->
          <img src="/assets/github.png" alt="Github" style="width: 20px; height: 20px;">
        </div>
      </a>
    </div>
  </nav>
</div>
