
<!-- Auteurs du code : Maxence MAYOLY, Loick GOMEZ, Clément CHARABOT, date : 7 janvier 2024 --->

<!-- En tete du site -->

<div id="page">
  <nav class="navbar navbar-expand-lg navbar-warning bg-warning"> <!--Couleur jaune du header-->
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center">
      <ul class="navbar-nav mx-auto">
        <a class="navbar-brand" routerLink="/"><!-- Page d'accueil-->
          <img id="logo" src="https://static.openfoodfacts.org/images/logos/off-logo-horizontal-light.svg" alt="Open Food Facts logo" href="src/app/acceuil/">
        </a>
        <!-- Onglet "About" -->
        <li class="nav-item">
          <a class="nav-link" routerLink="About">About</a>
        </li>
        <!-- Onglet "Products" -->
        <li class="nav-item">
          <a class="nav-link" routerLink="Product">Products</a>
        </li>
        <!--Onglet "Country"-->
        <li class="nav-item">
          <a class="nav-link" routerLink="Country">Country</a>
        </li>

        <!-- Onglet "Discover" -->
        <li class="nav-item">
          <a class="nav-link" routerLink="Discover">Discover</a>
        </li>

        <!-- Onglet "Contribute" -->
        <li class="nav-item">
          <a class="nav-link" routerLink="Contribute">Contribute</a>
        </li>

        <!-- Onglet "Producers" -->
        <li class="nav-item">
          <a class="nav-link" routerLink="Producers">Producers</a>
        </li>
      </ul>
    </div>
    <!-- Onglet Github à la fin -->
    <div class="ml-auto">
      <a data-mdb-ripple-init class="btn btn-white px-3" href="https://github.com/openfoodfacts" role="button">
        <div class="d-flex align-items-center">
          <i class="fab fa-github mr-2"></i>
          <img src="/assets/github.png" alt="Github" style="width: 40px; height: 40px;">
        </div>
      </a>
    </div>
    
    <!-- Onglet "Get the App" à la fin-->
    <div class="ml-auto">
      <a class="btn-get-app" href="https://world.openfoodfacts.org/open-food-facts-mobile-app">Get the App</a>
    </div>
  </nav>
</div>
