.fixed-content {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  margin-top: auto; /* Push the content to the bottom */
}

.fixed-content img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.fixed-content p {
  margin-bottom: 10px;
  font-size: 1.35rem;
  text-align: center;
}

.inline-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.inline-list li {
  display: inline;
  margin-right: 15px;
}

.inline-list li:last-child {
  margin-right: 0;
}

.inline-list a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
}

.inline-list a:hover {
  text-decoration: underline;
}

.my-footer {
  font-size: 1.2rem;
}
