<div class="fixed-content my-footer">
  <a href="/app/header/header.component.html" style="font-size: 1rem;">
      <img id="logo" src="https://static.openfoodfacts.org/images/logos/off-logo-horizontal-mono-white.svg"
          alt="Open Food Facts logo">
  </a>
  <p>A collaborative, free and open database of food products from around the world.</p>
  <ul class="inline-list">
      <li><a href="https://world.openfoodfacts.org/legal">Legal</a></li>
      <li><a href="https://world.openfoodfacts.org/terms-of-use">Terms of use</a></li>
      <li><a href="https://world.openfoodfacts.org/data">Data, API and SDKs</a></li>
      <li><a href="https://world.openfoodfacts.org/donate-to-open-food-facts">Donate to Open Food Facts</a></li>
      <li><a href="https://world.pro.openfoodfacts.org/">Producers</a></li>
      <li><a href="https://link.openfoodfacts.org/newsletter-en">Subscribe to our newsletter</a></li>
  </ul>
</div>
