<div class="row">
    <div class="small-12 column"> 
        <h1 class="if-empty-dnone"></h1>
    </div>
</div>
<div class="hide-when-logged-in homepage-greeter-wrapper">
<div class="homepage-greeter">
<div class="homepage-greeter__discover">
<div class="homepage-greeter__discover--content">
<div>
<h2>Discover</h2>
<p>Open Food Facts is a food products database made by everyone, for everyone. You can use it to make better food choices, and as it is open data, anyone can re-use it for any purpose.</p>
</div>
<a class="button round secondary small homepage-greeter__button" href="/discover"><span class="material-icons">auto_stories</span>Learn more about Open Food Facts</a>
</div>
<div class="homepage-greeter__discover--image">
<img src="images/illustrations/globe.svg" alt="Discover Open Food Facts." />
</div>
</div>
<router-outlet></router-outlet>

