body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f1ec;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}

.section-title {
  font-size: 2.5rem;
  color: #343a40;
}

.contributors {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contributor {
  flex: 1 0 30%;
  margin: 10px;
}

.contributor-img {
  width: 100%;
  border-radius: 50%;
}

.contributor-name {
  margin-top: 10px;
}

.join-community h3 {
  margin-bottom: 10px;
}

.btn {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.social-icons img {
  margin: 5px;
  cursor: pointer;
}

.help-section p {
  margin: 20px 0;
}

.emphasized-title {
  font-size: 1.8rem;
  color: #343a40;
}

.subheader {
  font-size: 1.2rem;
  color: #495057;
}
