/* Header Styling */
.navbar {
  background-color: #ffc107;
  font-family: sans-serif;
  font-weight: bold;
}

.video-container {
  display: block;
  margin: auto;
}

.video-container iframe {
  width: 50%;
  height: 100%;
}

.container-sm {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 20vh;
}

.navbar-nav .nav-link {
  color: #343a40;
}

.navbar-nav .nav-link:hover {
  border-bottom: 2px solid #343a40;
}

/* Logo Styling */
#logo {
  height: 40px;
  width: auto;
}

/* Search Form Styling */
.form-control {
  border-radius: 0
}

/* Search Button Styling */
.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:hover {
  background-color: #28a745;
  color: #ffffff;
}

/* Navbar Right Section Styling */
.navbar-nav.ml-auto {
  margin-right: 20px;
}

.btn-primary {
  background-color: #ffc107;
  border-color: #ffc107;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #e0a800;
  border-color: #e0a800;
}

/* Footer Styling */
.fixed-content {
  background-color: #343a40;
  color: #ffffff; 
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.fixed-content img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.fixed-content p {
  margin-bottom: 10px;
}

.inline-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.inline-list li {
  display: inline-block;
  margin-right: 15px;
}

.inline-list li:last-child {
  margin-right: 0;
}

.inline-list a {
  color: #ffffff;
  text-decoration: none;
}

.inline-list a:hover {
  text-decoration: underline;
}
/* Custom animation class */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* Animate fade and slideInUp */
.fade-and-slide {
  animation: fadeAndSlide 1.5s ease;
}

@keyframes fadeAndSlide {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card.animated:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 2s ease-in-out, box-shadow 2s ease-in-out;
}


/* Add fade-and-slide class to the cards */
.card.animated {
  visibility: visible !important;
}

.img {
  width: 50px;
}
.card {
  max-width: 300px; /* Réglez la largeur maximale selon vos besoins */
  margin: 0 auto; /* Centrez les cards horizontalement */
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f1ec;
  margin: 0;
  padding: 0;
}
