/* Styling de la barre de navigation */
.navbar {
  background-color: #ffc107; /* Couleur de fond jaune */
  font-family: sans-serif; /* Police de caractères sans-serif */
  font-weight: bold; /* Gras */
}

/* Styling de la vidéo dans le conteneur */
.video-container {
  display: block;
  margin: auto;
}

/* Styling de l'iframe de la vidéo */
.video-container iframe {
  width: 50%;
  height: 100%;
}

/* Styling du conteneur principal avec une opacité pour une légère transparence */
.container-sm {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 20vh; /* Marge depuis le haut de la vue */
}

/* Styling des liens de navigation */
.navbar-nav .nav-link {
  color: #343a40; /* Couleur du texte sombre */
}

/* Styling des liens de navigation au survol avec une bordure inférieure */
.navbar-nav .nav-link:hover {
  border-bottom: 2px solid #343a40; /* Bordure inférieure sombre au survol */
}

/* Styling du logo */
#logo {
  height: 40px;
  width: auto;
}

/* Styling du formulaire de recherche */
.form-control {
  border-radius: 0; /* Bordure sans arrondi */
}

/* Styling du bouton de recherche */
.btn-outline-success {
  color: #28a745; /* Couleur du texte verte */
  border-color: #28a745; /* Couleur de la bordure verte */
}

.btn-outline-success:hover {
  background-color: #28a745; /* Couleur de fond verte au survol */
  color: #ffffff; /* Couleur du texte blanc au survol */
}

/* Styling de la section à droite de la barre de navigation */
.navbar-nav.ml-auto {
  margin-right: 20px;
}

/* Styling du bouton primaire */
.btn-primary {
  background-color: #ffc107; /* Couleur de fond jaune */
  border-color: #ffc107; /* Couleur de la bordure jaune */
  font-weight: bold; /* Gras */
}

.btn-primary:hover {
  background-color: #e0a800; /* Couleur de fond jaune plus foncé au survol */
  border-color: #e0a800; /* Couleur de la bordure jaune plus foncé au survol */
}

/* Styling du Footer */
.fixed-content {
  background-color: #343a40; /* Couleur de fond sombre */
  color: #ffffff; /* Couleur du texte blanc */
  padding: 20px 0; /* Espacement intérieur */
  position: fixed; /* Position fixe en bas de la page */
  bottom: 0; /* En bas de la page */
  width: 100%; /* Pleine largeur */
}

.fixed-content img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.fixed-content p {
  margin-bottom: 10px;
}

/* Styling pour une liste horizontale sans puces */
.inline-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Styling pour chaque élément de la liste horizontale */
.inline-list li {
  display: inline-block;
  margin-right: 15px;
}

.inline-list li:last-child {
  margin-right: 0;
}

/* Styling des liens dans la liste horizontale */
.inline-list a {
  color: #ffffff; /* Couleur du texte blanc */
  text-decoration: none; /* Pas de soulignement du texte */
}

.inline-list a:hover {
  text-decoration: underline; /* Soulignement du texte au survol */
}

/* Animation personnalisée */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* Animation de fondu et de déplacement vers le haut */
.fade-and-slide {
  animation: fadeAndSlide 1.5s ease;
}

@keyframes fadeAndSlide {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation de transformation au survol des cartes */
.card.animated:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 2s ease-in-out, box-shadow 2s ease-in-out;
}

/* Ajout de la classe fade-and-slide aux cartes avec animation */
.card.animated {
  visibility: visible !important;
}

/* Styling de l'image */
.img {
  width: 50px;
}

/* Styling de la carte avec une largeur maximale et centrée horizontalement */
.card {
  max-width: 300px;
  margin: 0 auto;
}

/* Styling du corps de la page avec une police de caractères et une couleur de fond */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f1ec; /* Couleur de fond gris clair */
  margin: 0;
  padding: 0;
}
