<body>
    <div class="container mt-4" style="padding-top: 3%;padding-bottom: 3%;">
        <div class="row">
            <div class="col-md-12">
                <div class="card product-card">
                    <img class="card-img-top" [src]="product.image_url" alt="Image du produit">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.product_name }}</h5>
                        <p class="card-text"><strong>Marque :</strong> {{ product.brands }}</p>
                        <p class="card-text"><strong>Catégorie :</strong> {{ product.categories }}</p>
                        <p class="card-text"><strong>Nom générique :</strong> {{ product.generic_name }}</p>
                        <a class="btn btn-primary" (click)="returnAcceuil()">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>