<body>
    <!-- Product-->
    <div class="container mt-4" style="padding-top: 3%; padding-bottom: 3%;">
        <div class="row">
            <div class="col-md-12">                
                <div class="card product-card">
                <h2>Product</h2>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="card-img-top" [src]="product.image_url" alt="Image du produit">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="color: red">{{ product.product_name }}</h5>
                                <p class="card-text"><strong>Marque :</strong> {{ product.brands }}</p>
                                <p class="card-text"><strong>Catégories :</strong> {{ product.categories }}</p>
                                <p class="card-text"><strong>Nom générique :</strong> {{ product.generic_name }}</p>
                                <p class="card-text"><strong>Quantité :</strong> {{ product.quantity }}</p>
                                <p class="card-text"><strong>Packaging :</strong> {{ product.packaging}}</p>
                                <p class="card-text"><strong>Labels, certifications, awards</strong> {{ product.labels}}</p>
                                <p class="card-text"><strong>Origine du produit:</strong> {{ product.origin}}</p>
                                <p class="card-text"><strong>Magasins :</strong> {{ product.stores}}</p>
                                <p class="card-text"><strong>Pays :</strong> {{ product.countries}}</p>
                                <a class="btn btn-primary" (click)="returnAcceuil()">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Preferences -->
    <div class="container mt-4" style="padding-top: 3%; padding-bottom: 3%">
        <div class="row">
            <div class="card product-preferences">
                <h3> Preferences</h3>
                <img [src]="novagroup" alt="novagroup" class="product-image" style="height: 50px;">
                <img [src]="nutriscore" alt="nutriscore" class="product-image" style="height: 50px;">
                <img [src]="ecoscore" alt="ecoscore" class="product-image" style="height: 50px;">
            </div>
        </div>
    </div>
    
    <!-- Health -->
    <div class="container mt-4" style="padding-top: 3%; padding-bottom: 3%;">
        <div class="row">
            <div class="col-12">
                <div class="card product-health">
                    <h1>Health</h1>
                    <br>
                    <div class="row g-0">
                        <div class="col-md-8"> <!-- Increased the size of the text column to make space for the image -->
                            <h2>Ingredients</h2>
                            <br><br>
                            <h4>{{product.ingredients_text_en}}</h4>
                            <br><br>
                            <h4>Food Processing</h4>
                            <img class="card-img-top" [src]="novagroup" alt="novagroup" style="height: 100%; width: 100%;">
                            <br>
                            <h4>Ingredient analysis</h4>
                            <br>
                            <br>
                            <h3> Nutrition</h3>
                            <p>{{product.nutrient_levels_tags[0]}}</p>
                            <p>{{product.nutrient_levels_tags[1]}}</p>
                            <p>{{product.nutrient_levels_tags[2]}}</p>
                            <h3> Nutrition facts</h3>
                    <table class="nutrition-facts">
                    <tr>
                        <th class="highlight nutrient-column">Éléments nutritifs</th>
                        <th class="highlight nutrient-column">Par 100g/100ml</th>
                        <th class="highlight nutrient-column">Par portion </th>
                    </tr>
                    <tr>
                        <td class="highlight nutrient-column">Énergie</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.energy_100g }} kJ ({{ product.nutriments.energy_100g }} kcal)</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.energy_serving }} kJ ({{ product.nutriments.energy_serving }} kcal)</td>
                    </tr>
                    <tr>
                        <td class="highlight nutrient-column">Matières grasses</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.fat_100g }} g</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.fat_serving }} g</td>
                    </tr>
                    <tr>
                        <td class="highlight nutrient-column">Acides gras saturés</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.saturated_fat_100g }} g</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.saturated_fat_serving }} g</td>
                    </tr>
                    <tr>
                        <td class="highlight nutrient-column">Glucides</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.carbohydrates_100g }} g</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.carbohydrates_serving }} g</td>
                    </tr>
                    <tr>
                        <td class="highlight nutrient-column">Sucres</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.sugars_100g }} g</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.sugars_serving }} g</td>
                    </tr>
                    <tr>
                        <td class="highlight nutrient-column">Fibres alimentaires</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.fiber_100g }} g</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.fiber_serving }} g</td>
                    </tr>
                    <tr>
                        <td class="highlight nutrient-column">Protéines</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.proteins_100g }} g</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.proteins_serving }} g</td>
                    </tr>
                    <tr>
                        <td class="highlight nutrient-column">Sel</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.salt_100g }} g</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.salt_serving }} g</td>
                    </tr>
         
                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Environment -->
    <div class="container mt-4" style="padding-top: 3%; padding-bottom: 3%">
        <div class="row">
            <div class="card product-environment">
                <h3> Preferences</h3>
                <img [src]="ecoscore" alt="ecoscore" class="product-image" style="height: 50px;">
                <h4> Packaging </h4>
                <br>
                <h5> Packaging parts</h5>
                <br>
                <h5> Packaging materials</h5>
                <br>
                <table class="nutrition-facts">
                    <tr>
                        <th class="highlight nutrient-column">Origin of the product and/or its ingredients</th>
                        <th class="highlight nutrient-column">% of ingredients</th>
                        <th class="highlight nutrient-column">Impact</th>
                    </tr>
                    <tr>
                        <td class="highlight nutrient-column">Énergie</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.energy_100g }} kJ ({{ product.nutriments.energy_100g }} kcal)</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.energy_serving }} kJ ({{ product.nutriments.energy_serving }} kcal)</td>
                    </tr> 
                </table>
                <br>
                <h4> Transportation</h4>
                <br>
                <table class="nutrition-facts">
                    <tr>
                        <th class="highlight nutrient-column">Origin of the product and/or its ingredients</th>
                        <th class="highlight nutrient-column">% of ingredients</th>
                        <th class="highlight nutrient-column">Impact</th>
                    </tr>
                    <tr>
                        <td class="highlight nutrient-column">{{product.origins_old}}</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.energy_100g }} kJ ({{ product.nutriments.energy_100g }} kcal)</td>
                        <td class="highlight nutrient-column">{{ product.nutriments.energy_serving }} kJ ({{ product.nutriments.energy_serving }} kcal)</td>
                    </tr> 
                </table>
             </div>
        </div>
    </div>
</body>