body {
  font-family: 'Arial', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.card {
  border: 1px solid #ddd;
  border-radius: 12px; /* Augmentation de la bordure pour un look plus esthétique */
  overflow: hidden;
  margin-bottom: 1px;
}

.product-card,
.product-health,
.product-environment {
  margin-bottom: 20px;
}

.gras {
  font-weight: bold;
  font-size: 18px; /* Ajustement de la taille de la police pour un look plus visible */
}

/* Styling for images */
.card-img-top {
  max-width: 100%;
  height: 600px;
  width: 800px;
  border-radius: 12px; /* Augmentation de la bordure pour correspondre à la bordure de la carte */
  margin-bottom: 10px;
}

/* Styling for dropdowns */
.dropdown-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 16px; /* Ajustement de la taille du bouton pour un look plus équilibré */
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px; /* Ajustement de la bordure pour correspondre à la carte */
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 6px; /* Ajustement de la bordure pour correspondre au bouton */
}

.dropdown-content a {
  color: #000;
  padding: 10px 16px; /* Ajustement de la taille du lien pour un look plus équilibré */
  text-decoration: none;
  display: block;
}

.invisible-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-btn:hover .dropdown-content {
  display: block;
}

/* Styling for tables */
.nutrition-facts {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed; /* Ajout de cette propriété pour que la largeur des colonnes soit uniforme */
}

.nutrition-facts th {
  border: 1px solid #ddd;
  padding: 10px;
  font-weight: bold;
  text-align: left;
  width: 25%; /* Répartition équitable sur 4 colonnes (100% / 4) */
  background-color: yellow;
}

.nutrition-facts td{
  border: 1px solid #ddd;
  padding: 10px;
  font-weight: bold;
  text-align: left;
  width: 25%; /* Répartition équitable sur 4 colonnes (100% / 4) */
}

/* Additional styling for specific elements as needed */
/* Nouvelle classe pour la carte "Health" */
.product-health-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 20px;
}

.product-health-card h2 {
  font-weight: bold;
}

.product-health-card h3 {
  color: green;
  margin-bottom: 10px;
}

.product-health-card img.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-health-card .ingredients-analysis-level,
.product-health-card .nova-group,
.product-health-card .nutriscore-level,
.product-health-card .nutrient-level {
  margin-bottom: 20px;
}


.product-health-card .ml-2 {
  margin-left: 10px;
}

.product-health-card .invisible-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.product-health-card .btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.product-health-card .nutrient-level img {
  margin-right: 5px;
}

.product-health-card .nutrition-facts {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
}

.product-health-card .nutrient-column {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  width: 25%;
}

/* Ajustements spécifiques pour la carte "Health" */
.product-health-card .highlight {
  font-weight: bold;
}

.product-health-card .nutriscore-level h5,
.product-health-card .nutrient-level p {
  margin: 0;
}
