body {
    font-family: 'Arial', sans-serif; /* Change the font-family as needed */
  }

  h2, h3, h4 {
    font-family: 'Serif'; /* Change the font-family as needed */
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }