<div class="container mt-4">
  <!-- Section Title -->
  <div class="row text-center">
    <div class="col-md-12">
      <h2 class="emphasized-title">Open your food and know what you eat</h2>
      <h5 class="subheader">Be part of our collaborative, free and open database of food products from around the world!</h5>
    </div>
  </div>

  <!-- Feature Cards - First Row -->
  <div class="row mt-4">
    <!-- Card 1 -->
    <div class="col-md-4 animated fade-and-slide">
      <div class="card">
        <img src="/assets/food-database-icon.svg" class="card-img-top" alt="Food Database Icon">
        <div class="card-body">
          <h5 class="card-title">A food products database</h5>
          <p class="card-text">
            Open Food Facts is a database of food products with ingredients, allergens, nutrition facts, and all the tidbits of information we can find on product labels.
          </p>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4 animated fade-and-slide">
      <div class="card">
        <img src="/assets/crowdsourcing-icon.svg" class="card-img-top" alt="Food Database Icon">
        <div class="card-body">
          <h5 class="card-title">Made by everyone</h5>
          <p class="card-text">
            100,000+ contributors like you have added 3,000,000+ products from 150 countries using our Android, iPhone, or Windows app or their camera to scan barcodes and upload pictures of products and their labels.
          </p>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4 animated fade-and-slide">
      <div class="card">
        <img src="/assets/opendata-crowd-icon.svg" class="card-img-top" alt="Food Database Icon">
        <div class="card-body">
          <h5 class="card-title">For everyone</h5>
          <p class="card-text">
            Data about food is of public interest and has to be open. The complete database is published as open data and can be reused by anyone and for any use. Check out the cool reuses or make your own!
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Section Title -->
  <div class="row text-center mt-4">
    <div class="col-md-12">
      <h2 class="emphasized-title">Make better food choices</h2>
      <h5 class="subheader">Knowledge is power. Food knowledge is power to eat better!</h5>
    </div>
  </div>

  <!-- Feature Cards - Second Row -->
  <div class="row mt-4">
    <!-- Card 4 -->
    <div class="col-md-4 animated fade-and-slide">
      <div class="card">
        <img src="/assets/decode-labels-icon.svg" class="card-img-top" alt="Food Database Icon">
        <div class="card-body">
          <h5 class="card-title">Decode labels</h5>
          <p class="card-text">
            Food additives E-numbers, allergens, packaging codes... Open Food Facts helps you make sense of the fine print on product labels. We also grade the nutritional quality of each product.
          </p>
        </div>
      </div>
    </div>

    <!-- Card 5 -->
    <div class="col-md-4 animated fade-and-slide">
      <div class="card">
        <img src="/assets/find-products-icon.svg" class="card-img-top" alt="Food Database Icon">
        <div class="card-body">
          <h5 class="card-title">Find products</h5>
          <p class="card-text">
            Our search form includes dozens of criteria so that you can find products that match your criteria.
          </p>
        </div>
      </div>
    </div>

    <!-- Card 6 -->
    <div class="col-md-4 animated fade-and-slide">
      <div class="card">
        <img src="/assets/compare-graph-icon.png" class="card-img-top" alt="Food Database Icon">
        <div class="card-body">
          <h5 class="card-title">Compare and change</h5>
          <p class="card-text">
            Do you know which breakfast cereals have less fat and sugar? In 3 clicks, you can create an interactive graph to show it. So you can change for healthier cereals, and by comparing products from different brands, you encourage producers to make them better.
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>


  <!-- Section Title -->
  <div class="row text-center mt-4">
    <div class="col-md-12">
      <h2 class="emphasized-title">Food for thought, innovation and science</h2>
      <p class="subheader">Our data can be reused for education, new products and services, research and more!</p>
      <h2>The Open Food Facts database is open data published under the Open Database Licence. Anyone can use it for any purpose - commercial or non-commercial - provided the source of the data is attributed and improvements to the database are shared in a similar way.</h2>
    </div>
  </div>

  <!-- Feature Cards - Third Row -->
  <div class="row mt-4">
    <!-- Card 7 -->
    <div class="col-md-4 animated fade-and-slide">
      <div class="card">
        <img src="/assets/howmuchsugar-icon.svg" class="card-img-top" alt="Food Database Icon">
        <div class="card-body">
          <h5 class="card-title">A food products database</h5>
          <p class="card-text">
            Open Food Facts is a database of food products with ingredients, allergens, nutrition facts, and all the tidbits of information we can find on product labels.
          </p>
        </div>
      </div>
    </div>

    <!-- Card 8 -->
    <div class="col-md-4 animated fade-and-slide">
      <div class="card">
        <img src="/assets/madenearme-icon.png" class="card-img-top" alt="Food Database Icon">
        <div class="card-body">
          <h5 class="card-title">A food products database</h5>
          <p class="card-text">
            Open Food Facts is a database of food products with ingredients, allergens, nutrition facts, and all the tidbits of information we can find on product labels.
          </p>
        </div>
      </div>
    </div>

    <!-- Card 9 -->
    <div class="col-md-4 animated fade-and-slide">
      <div class="card">
        <img src="/assets/science-icon.svg" class="card-img-top" alt="Food Database Icon">
        <div class="card-body">
          <h5 class="card-title">A food products database</h5>
          <p class="card-text">
            Open Food Facts is a database of food products with ingredients, allergens, nutrition facts,            and all the tidbits of information we can find on product labels.
          </p>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
<app-footer></app-footer>

<router-outlet></router-outlet>