.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 2%;
}

.search-container {
  margin-bottom: 2%;
}

.input-group {
  width: 100%;
  max-width: 400px;
}

.form-select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col {
  flex: 0 0 30%;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button-container button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #0056b3;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5%;
}

.info-container p {
  font-size: 1.2rem;
  color: #343a40;
  margin: 10px 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f1ec;
  margin: 0;
  padding: 0;
}
