<!-- Auteurs du code : Maxence MAYOLY, Loick GOMEZ, Clément CHARABOT, date : 7 janvier 2024 --->

<body>
  <br>
  <div class="main-container">
    <div class="products-container row" *ngIf="products; else loading">
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let product of products">
        <app-product [product]="product"></app-product>
      </div>
    </div>
  </div>
  
  <div style="display: flex; justify-content: center;">
    <button (click)="ChangePageMoins()">Page Précédente</button>
    <button (click)="ChangePagePlus()">Page Suivante</button>
  </div>
  
  <div class="info-container" style="text-align: center; margin-top: 10px;">
    <p>Numéro de page actuel : {{ currentPage }}</p>
  </div>
  
  <ng-template #loading>
    <div class="centered-content" style="margin-bottom: 2%; margin-top: 4%;">
      <p>Chargement des produits...</p>
    </div>
  </ng-template>
  
  <!-- Ajoutez vos scripts ou liens vers des fichiers JavaScript ici si nécessaire -->
  
  </body>